<h1>Bug#index</h1>
<p>Find me in app/views/bug/index.html.erb</p>
<!--Count of records-->
<p><%= @pim_bugs.count %> records</p>
<div>
  <table>
    <!--TODO: optimize iterating the object twice-->
    <thead>
    <tr>
      <!--Getting the list of attributes for only one record
      to display the attributes as header-->
      <% first =@pim_bugs.first %>
      <% first.attribute_names.each do |attribute| %>
          <!--Displaying the attribute-->
          <th><%= attribute.capitalize %></th>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <% @pim_bugs.each do |drenv| %>
        <!--Iterating through the objects attributes-->
        <tr>
          <% drenv.attribute_names.each do |attribute| %>
              <!--Displaying the attribute value-->
              <td><%= drenv.attributes[attribute] %>
              </td>
          <% end %>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>