// This is inspired/based out of
//http://tympanus.net/Tutorials/StickyTableHeaders/index2.html

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #f8f8f8;
  color: #7c8d87;
  font-size: 13px;
  font-family: 'lato-regular', Arial, sans-serif;
}

a {
  color: #31bc86;
  text-decoration: none;
}

// All a:hover and a:focus
a:hover, a:focus {
  color: #7c8d87;
}


// Our table

table {
  margin-bottom: 3px;
  width: 100%;
  border-collapse: separate;
  background: #fff;
  white-space: nowrap;
}

// td and th will have
td, th {
  // top/bottom right/left
  padding: 8px 6px;
  border-collapse: separate;
  text-align: left;
  white-space: nowrap;
}

// class err with td
td.err {
  background-color: #e992b9;
  color: #fff;
  text-align: center;
  font-size: 14px;
  line-height: 1;
}

//table header
th {
  background-color: #31bc86;
  color: #fff;
  white-space: nowrap;
  font-weight: bold;
  font-family: lato-bold;
  border-collapse: separate;
}

// table header inside table body
tbody th {
  background-color: #2ea879;
}

// table row nth-child (odd) inside table body
tbody tr:nth-child(2n-1) {
  background-color: #f5f5f5;
  transition: all .125s ease-in-out;
}

// table row hover inside table body
tbody tr:hover {
  background-color: rgba(129, 208, 177, .3);
}
