<h1>DrEnv#index</h1>
<h2>Find me in app/views/dr_env/index.html.erb</h2>
<!--Template for displaying all fields and its values.-->
<!--Iterating through every instance of the Object-->
<div>
  <table>
    <!--TODO: optimize iterating the object twice-->
    <thead>
    <tr>
      <% @DrEnv.each do |drenv| %>
          <% drenv.attribute_names.each do |attribute| %>
              <!--Displaying the attribute-->
              <th><%= attribute %></th>
          <% end %>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <% @DrEnv.each do |drenv| %>
        <!--Iterating through the objects attributes-->
        <tr>
          <% drenv.attribute_names.each do |attribute| %>
              <!--Displaying the attribute value-->
              <td><%= drenv.attributes[attribute] %>
              </td>
          <% end %>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>